.fade-appear,
.fade-enter {
  opacity: 0;
}

.fade-appear.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: all ease 1000ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: all ease 1000ms;
}
main {
  position: relative;
  width: 500px;
  height: 500px;
}
.page {
  position: absolute;
  width: 100%;
  height: 100%;
}
